:root{
    --cor0 : #fff;
    --cor1 : #fdfdfd;
    --cor2 : #ddd;
    --cor3 : #ccc;
    --cor4 : #395169;
    --cor5 : #102f5e;
    --cor6 : #333;
}

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor6);
    box-sizing: border-box;
}

body{
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

button{
    background-color: var(--cor1);
    color: var(--cor5);
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .5s;
}

button:hover{
    background-color: var(--cor5);
    color: var(--cor0);
}
button:hover > i{
    color: var(--cor0);
}

button i{
    color: #102f5e;
    font-weight: bold;
    pointer-events: none;
}

input, select {
    padding: .25rem 0.5rem;
}

.hide{
    display: none;
}

/* Todo header*/
.todo-container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: var(--cor1);
    padding: 1.5rem;
    border-radius: 15px;
}

.todo-container header{
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid var(--cor3);
}

/* TODO Form*/

#todo-form, #edit-form{
    padding: 1rem;
    border-bottom: 1px solid var(--cor3);
}

#todo-form p, #edit-form p {
    margin-bottom: .5rem;
    font-weight: bold;
}

.form-control{
    display: flex;
}

.form-control input{
    margin-right: 0.3rem;
}

#cancel-edit-btn{
    margin-top: 1rem;
}

/*Todo toolbar */

#toolbar {
    padding: 1rem;
    border-bottom: 1px solid var(--cor3);
    display: flex;
}

#toolbar h4{
    margin-bottom: .5rem;
}

#search {
    border-right: 1px solid var(--cor2);
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form{
    display: flex;
}

#search input{
    width: 100%;
    margin-right: 0.3rem;
}

#filter{
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select{
    flex: 1;
}

/*Todo List*/

.todo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--cor2);
    transition: .3s;
}

.todo h3{
    flex: 1;
    font-size: .9rem;
}

.todo button{
    margin-left: 0.4rem;
}

.done {
    background-color: var(--cor4);
    border-radius: 8px;
}

.done h3{
    color: var(--cor0);
    text-decoration: line-through;
    font-style: italic;
}

/*--------footer---------*/

footer{
    background-color: var(--cor5);
    color: var(--cor0);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 4px;
}

footer > a {
    text-decoration: none;
    color: var(--cor0);
    transition-duration: .4s;
}

footer > a:hover{
    background-color: var(--cor0);
    color: var(--cor5);
    border-radius: 5px;
}